

.card{
    @include flex-column;
    margin: auto;
    text-align: center;
    width: 500px;
    
    p, .card-info, .card-buttons.additional{
        margin: 1em 1.5em;
    }
    
    
    .card-buttons{
        @include flex-row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1em 0;
        button{
            width: 40%;
            &[name=review] a{
                display: block;
            }
        }
        
    }

    @media screen and (max-width: 880px) {
        & .tile{
            width: calc(100% - 5em);
        }
    }

    @media screen and (max-width: 600px) {
        width: 100%;

        & .tile{
            width: calc(100% - 3em);
        }

        & p, & .card-info, .card-buttons.additional{
            margin: .7em .4em;
        }
    }

    @media screen and (max-width: 900px) {
        & .tile{
            margin: .7em auto;
        } 
    }
}

.add-card{
    @include flex-column;
    // width: auto;
    flex-wrap: wrap;
    margin: 1em auto;
    justify-content: center;
    align-items: center;
    span{
        margin-bottom: 1em;
        text-align: center;
    }
    .buttons{
        @include flex-row;
        width: 50%;
        justify-content: space-between;
        button{
            width: 100%;
            flex-basis: 30%;
            &[name=add]{
                background-color: var(--secondary);
                color: var(--primary);
            }
        }
    }
    
    textarea{
        margin-bottom: 1.5em;
        width: calc(50% - 2em);
    }
    @media screen and (max-width: 1500px) {
        width: 80%;
        textarea{
            width: calc(50% - 2em);
        }
        .buttons{
            width: 50%;
        }
    }
    @media screen and (max-width: 650px) {
        width: 100%;
        textarea{
            width: calc(100% - 2em);
        }
        .buttons{
            width: 100%;
            button{
                flex-basis: 40%;
            }
        }
    }
}