

.card{
    @include flex-column;
    margin: auto;
    text-align: center;
    width: 500px;
    
    p, form, .card-buttons.additional{
        margin: 1em 1.5em;
    }

    form{
        textarea{
            width: calc(100% - 2em);
            max-width: calc(100% - 2em);
            border: 1px solid var(--secondary);
            border-radius: var(--corners);
            background-color: transparent;
            padding: 1em;
        }
    }
    .card-buttons{
        @include flex-row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1em 0;
        button{
            flex: 1 0 25%;
            &[name=review] a{
                display: block;
            }
        }
        
    }

    @media screen and (max-width: 600px) {
        width: 100%;

        & .tile{
            width: calc(100% - 3em);
        }

        & p, & form{
            margin: .7em .4em;
        }
    }

    @media screen and (max-width: 900px) {
        & .tile{
            margin: .7em auto;
        } 
    }
}