// header

header{
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
    a{
        color: var(--primary);
        padding: 1em 0em 1em 1em;
        &::after{
            content: ">";
            padding-left: 1em;
        }
        &:last-of-type::after{
            content: "";
        }
    }
}

// tile

.tile{
    @include flex-row;
    overflow: auto;
    // background-color: var(--tile);
    border: 1px solid var(--secondary);
    border-radius: var(--corners);
    padding: .5em 1em 1em 1em;
    margin: 1em 1.5em;
    min-width: 200px;
    min-height: 100px;
    max-height: 200px;
    word-break: normal;
    text-align: justify;
    button{
        align-self: flex-start;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        flex: none;
        opacity: 0;
        transition: opacity .5s;
        
    }
    &:hover button{
        opacity: 100;
    }
    a, span{
        @include centered-container;
        flex: 1 0 auto;
    }
    span{
        flex-direction: row;
    }

    // @media screen and (max-width: 1250px) {
    //     width: 30%;

    // }

    // @media screen and (max-width: 880px) {
    //     width: 100%;

    // }

    @media screen and (max-width: 600px) {
        width: 100%;
        margin: .7em .4em;
    }

    @media screen and (max-width: 300px) {
        width: 100%;
        padding: .7em 1em;
        margin: .7em 0;
    }
}