// header

.navbar{
    background-color: var(--secondary);
    color: var(--primary);
    a{
        color: var(--primary);
        padding: 1em 0em 1em 1em;
        &::after{
            content: ">";
            padding-left: 1em;
        }
        &:last-of-type::after{
            content: "";
        }
    }
}

// tile

.tile{
    // @include flex-row;
    border: 1px solid var(--secondary);
    border-radius: var(--corners);
    min-width: 200px;
    min-height: 100px;
    max-height: 200px;
    word-break: normal;
    text-align: justify;
    button{
        align-self: flex-start;
        border: none;
        background-color: transparent;
        padding: 0;
        padding-top: .5em;
        margin: 0;
        flex: none;
        opacity: 0;
        transition: opacity .5s;
    }
    &:hover button{
        opacity: 100;
    }
    a, span{
        @include centered-container;
        flex: 1 0 auto;
    }
    span{
        flex-direction: row;
    }
    input{
        width: 50%;
    }
}