
@import "./general.scss";
@import "./common.scss";
@import "./card.scss";

.app, body, html{
    height: 100%;
}

.app, body, .tile{
    background-color: var(--primary);
    color: var(--font);
}

.app{
    width: calc(80% - 10em);
    margin: 1em auto;
    padding: 0 5em;

    @media screen and (max-width: 1500px) {
        padding: 0 4em;
        margin: .7em auto;
        width: calc(80% - 8em);
    }

    @media screen and (max-width: 900px) {
        padding: 0 2em;
        margin: .5em auto;
        width: calc(100% - 4em);
    }
    @media screen and (max-width: 300px) {
        width: calc(100% - 1.5em);
        padding: 0 .75em;
    }
}

.lessons, .categories{
    @include flex-row;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: var(--font);
}

button{
    cursor: pointer;
    border: 1px solid var(--secondary);
    border-radius: var(--corners);
    background-color: transparent;
    margin-top: 1em;
    flex: 1 0 auto;
    flex-basis: 50%;
    padding: .5em .7em;
    &[name=submit], &[name=correct]{
        background-color: var(--secondary);
        color: var(--primary);
    }
    &[name=incorrect]{
        background-color: var(--wrong);
        color: var(--primary);
        border-color: var(--wrong);
    }
}

