
@import "./general.scss";
@import "./common.scss";
@import "./review.scss";
@import "./custom.scss";

.app, body, html{
    height: 100%;
}

body, html, button, input, textarea, .app{
    font-family: var(--font_style);
}

.app, body, .tile{
    background-color: var(--primary);
    color: var(--font);
}

.lessons, .categories{
    .tile{
        cursor: pointer;
    }
}

a{
    text-decoration: none !important;
    color: var(--font);
}

button{
    cursor: pointer;
    border: 1px solid var(--secondary);
    border-radius: var(--corners);
    background-color: transparent;
    margin-top: 1em;
    padding: .5em .7em;
    &[name=submit], &[name=correct].selected, &[name=add-card]{
        background-color: var(--secondary);
        color: var(--primary);
    }
    &[name=incorrect].selected{
        background-color: var(--wrong);
        color: var(--primary);
        border-color: var(--wrong);
    }
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--secondary);
    height: fit-content;
    margin: auto;
}

textarea, .add-card textarea, .review-container textarea{
    min-height: 100px;
    max-height: 200px;
    border: 1px solid var(--secondary);
    border-radius: var(--corners);
    background-color: transparent;
    padding: 1em;
    &:focus{
        background-color: transparent;
    }
}

svg {
    color: var(--secondary);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--scroll-track);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: none;
  }