
@import "./general.scss";
@import "./common.scss";
@import "./card.scss";
@import "./review.scss";

.app, body, html{
    height: 100%;
}

body, html, button, input, textarea, .app{
    font-family: var(--font_style);
}

.app, body, .tile{
    background-color: var(--primary);
    color: var(--font);
}

.app{
    width: calc(80% - 10em);
    margin: 1em auto;
    padding: 0 5em;

    @media screen and (max-width: 1500px) {
        padding: 0 4em;
        margin: .7em auto;
        width: calc(80% - 8em);
    }

    @media screen and (max-width: 900px) {
        padding: 0 2em;
        margin: .5em auto;
        width: calc(100% - 4em);
    }
    @media screen and (max-width: 300px) {
        width: calc(100% - 1.5em);
        padding: 0 .75em;
    }
}

.lessons, .categories{
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    text-decoration: none;
    color: var(--font);
}

button{
    cursor: pointer;
    border: 1px solid var(--secondary);
    border-radius: var(--corners);
    background-color: transparent;
    margin-top: 1em;
    padding: .5em .7em;
    &[name=submit], &[name=correct].selected{
        background-color: var(--secondary);
        color: var(--primary);
    }
    &[name=incorrect].selected{
        background-color: var(--wrong);
        color: var(--primary);
        border-color: var(--wrong);
    }
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--secondary);
    height: fit-content;
    margin: auto;
}

svg {
    color: var(--secondary);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--scroll-track);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
    border: none;
  }