
.review .controls{
    button{
        border: none;
        margin: 0;
    }
}

.review-buttons button{
    background-color: transparent;
    color: var(--font);
    border: 1px solid var(--secondary);
}