
.review{
    @include flex-column;
    .tile{
        @include centered-container;
    }
    .review-buttons{
        @include flex-row;
        align-content: center;
        justify-content: center;
        button{
            margin: .5em .7em;
            flex-basis: 33%;
        }
    }
}

.review-container{
    @include flex-row;
    justify-content: center;
    @media screen and (max-width: 550px) {
        @include flex-column;
        & .tile, & .review-buttons{
            width: auto;
        }
    }
}